---
import Base from '../layouts/Base.astro';
---
<Base title="SmileOrNot">
  <h1>SmileOrNot</h1>
  <p id="status">Click to start.</p>
  <div class="stage">
    <video id="video" playsinline autoplay muted></video>
    <canvas id="overlay"></canvas>
  </div>
  <button id="toggle">Start Camera</button>

  <script>
    import '../scripts/app.js';
  </script>
</Base>
